<!DOCTYPE html>
<html lang="en">

{% if msg %} <script>
  alert('{{ msg }}')
</script> {% endif %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>CREATE NEW DRI1 | DRI</title>
    <style>
        .navbar form button {
            float: right;
        }
        .navbar-nav {
            --bs-nav-link-hover-color: lightblue;
        }

        .navbar-nav .nav-link.active,
        .navbar-nav .show>.nav-link {
            color: whitesmoke;
            font-weight: 600;
        }

        .nav-link {
            color: #cecece;
            font-size: 18px;
        }

        .navbar-brand {
            color: whitesmoke;
        }

        .container label {
            font-weight: bold;
        }
        /* .container form {
            /* color: #4c7bd2c9; */
            /* color: white;
            font-weight: normal; */
        
        /* } */ */
      

        .head {
            color: #4c7ad2;
        }

        .btnn {
            color: white;
            text-decoration: none;
            cursor: pointer;


        }

        .btn-primary {
            --bs-btn-hover-color: black;

        }
.bn632-hover {
  min-width: 180px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  min-height: 80px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 20px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
/* .bn632-hover:hover {
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
} */

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn26 {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
li input {
      background: none;
      color: white;
      box-shadow: none;
    }
    </style>

</head>

<body onload="setCurrentDate()">

    <header>
        <nav class="navbar sticky-top navbar-expand-lg py-0" style="background:#4c7ad2;">
            <div class="container">
                <img src="static/images/DRI_logo.png" alt="" height="50px" width="40px">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


             <div class="collapse navbar-collapse p-4" id="navbarSupportedContent" style="color:white;">
                    <h3>Directorate Of Revenue Intelligence</h3>

                </div>
            </div>
        </nav>

        <form action="/DRI1_conditions" method="post">
          <nav class="navbar navbar-expand-lg navabar-dark bg-dark py-0">
            <div class="container-fluid">
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                  {% if content.AU %}
                  <li class="nav-item">             
                    <a href="" class="nav-link" ><input type="submit" name="submit_button" value="Add User"></a>
                  </li>
                  {% endif %}
                  <li class="nav-item">             
                    <a href="" class="nav-link" ><input type="submit" name="submit_button" value="Home"></a>
                  </li>
                  {% if content.SI %}
                  <li class="nav-item">
                    <a class="nav-link" href=""><input type="submit" name="submit_button" value="Share Inputs"></a>
                  </li>
                  {% endif %}
                  {% if content.D1 %}
                  <li class="nav-item">      
                    <a class="nav-link" href="" ><input type="submit" name="submit_button" value="DRI1"></a>
                  </li>
                  {% endif %}
                  {% if content.D2 %}
                  <li class="nav-item">
                    <a  class="nav-link" href=""><input type="submit" name="submit_button" value="DRI2"></a>
                  </li>
                  {% endif %}
                  {% if content.D3 %}
                  <li class="nav-item">
                    <a class="nav-link" href=""><input  type="submit" name="submit_button" value="DRI3"></a>
                  </li>
                  {% endif %}
    
                
                </ul>
        </form>
                    <form class="d-flex"  action="{{ url_for('logout') }}" role="search">
                        <button class="btn btn-primary btn-sm" type="submit">Signout</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container p-4 my-5" style="background:#edfeff;">

<h2>DRI 1</h2>
<form method="post" action="/dri1form" enctype="multipart/form-data">
  <div class="form-group row mt-4">
    <label for="commodity" class="col-sm-2 col-form-label">Commodity</label>
    <div class="col-sm-3">
      <select class="form-select" aria-label="Default select example" name="commodities" id="commodity" onchange="showInput()"  required>
        <option value="" selected disabled>Select Commodity</option>
        {% for placedata  in filter_commodity %}
        <option  value="{{ placedata.2 }}">{{ placedata.2 }}</option>
        {% endfor %}
        <option value="others">Others</option>

      
      </select>
      <div id="other-input" style="display: none;" class="mt-5">
        <label for="other-commodity">Enter other commodity:</label>
        <input type="text" id="other-commodity" name="Commodities">
    </div>
      

    </div>
   
  </div>
    <div class="form-group row mt-4">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Estimated Value(Value in Rs Crores)</label>
      <div class="col-sm-3">
        <input type="text"  name="value" class="form-control" id="inputPassword3">
      </div>
    </div>
    <div class="form-group row mt-4">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Name of the Suspects/Firms along with address</label>
      <div class="col-sm-8">
        <input type="text"  name="suspect" class="form-control" id="inputPassword3">
      </div>
    </div>
    <div class="form-group row mt-4">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Name of the persons involved</label>
      <div class="col-sm-8">
        <input type="text"  name="involve" class="form-control" id="inputPassword3">
      </div>
    </div>
    <div class="form-group row mt-4">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Links of suspects with main person / premises involved</label>
      <div class="col-sm-8">
        <input type="text"  name="links" class="form-control" id="inputPassword3">
      </div>
    </div>
    <div class="form-group row mt-4">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Places where goods are suspected to be secreted</label>
      <div class="col-sm-8">
        <input type="text" name="places" class="form-control" id="inputPassword3">
      </div>
    </div>
    <div class="form-group row mt-4">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Proposed action</label>
      <div class="col-sm-8">
        <input type="text"  name="action" class="form-control" id="inputPassword3">
      </div>
    </div>
    <div class="form-group row mt-4">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Remarks</label>
      <div class="col-sm-8">
        <input type="text" name="remarks" class="form-control" id="inputPassword3">
      </div>
    </div>
    <h2 class="heading mt-5">Typed and Recorded By:</h2>
    <div class="form-group row mt-4">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Officer Name</label>
      <div class="col-sm-8">
        <input type="text" name="officer" class="form-control" id="inputPassword3">
      </div>
    </div>
    <div class="form-group row mt-4">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Designation</label>
      <div class="col-sm-8">
        <select class="form-select" aria-label="Default select example" name="designation">
          <option>select designation</option>
          {% for placedata  in filter_place %}
         <option>{{ placedata.2 }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <!-- <div class="form-group row mt-4">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Place</label>
      <div class="col-sm-8">
        <input type="text"  name="place" class="form-control" id="inputPassword3">
      </div>
    </div> -->
    <div class="form-group row mt-4">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Formation</label>
     
        <input type="text" id="Commodity" class="col-sm-8" name="place" value="{{formation}}" readonly>
        <!-- <select class="form-select" aria-label="Default select example" name="place" id="Commodity">
          <option>Select Formation</option>
          {% for placedata  in filter_formation %}
          <option >{{ placedata.2 }}</option>
          {% endfor %}
        
        </select> -->
       
     
    </div>
    <div class="form-group row mt-4">
      <label for="date" class="col-sm-2 col-form-label">Date</label>
      <div class="col-sm-8">
        <input type="date" class="form-control" id="dateInput" name="date" required >
      </div>
    </div>
    <div class="form-group row mt-4">
      <label class="form-label mt-3 col-sm-2" for="customFile">Upload Supporting Documents</label>
      <div class="col-sm-8">
        <input type="file" class="inputFile" name="files" multiple="multiple" id="customFile">
      </div>
    </div>
    <button type= "button" class="btn btn-primary p-2 mt-5 " onclick="printForm()" id="printButton" data-bs-toggle="modal" data-bs-target="#exampleModal">Preview</button>

    <button type= "submit" class="btn btn-primary p-2 mt-5 "  data-bs-toggle="modal" data-bs-target="#exampleModal">Generate DRI1</button>
    
    <p class="para  mt-3">
      <mark>Warning:"Information slip with left hand thumb Impression Should not be Uploaded."</mark>
    </p>
   
   
     <!-- <div class="form-group row mt-5"><div class="col-sm-8">
      <button type="submit" class="btn btn-primary">Submit</button></div>
    </div>  -->
  </form>
       


       

    </div>
    

    



      




</div>
  

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
        <script>
          function printForm() {
            // Trigger the browser's print functionality
            window.print();
          }
        </script>
        <script>
          function showInput() {
              var commodityDropdown = document.getElementById("commodity");
              var otherInput = document.getElementById("other-input");
              if (commodityDropdown.value == "others") {
                  otherInput.style.display = "block";
              } else {
                  otherInput.style.display = "none";
              }
          }
      </script>
         <script>
          function setCurrentDate() {
            var today = new Date();
            var day = String(today.getDate()).padStart(2, '0');
            var month = String(today.getMonth() + 1).padStart(2, '0'); // January is 0!
            var year = today.getFullYear();
      
            var currentDate = year + '-' + month + '-' + day;
            var dateInput = document.getElementById('dateInput');
            dateInput.value = currentDate;
            dateInput.min = currentDate;
            dateInput.max = currentDate;
          }
        </script>
        

</body>

</html>
